/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
}

.App {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  background: linear-gradient(to bottom, #FFD700, #FFEB89); /* Added gradient from a more gold color at top to lighter gold at bottom */
  border-radius: 20px;
  padding: 30px 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #4A4A4A;
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  color: #4A4A4A;
  font-size: 20px;
  margin-bottom: 20px;
}

.celebrityBar {
  margin: 10px 0;
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.celebrityBar span {
  color: #4A4A4A;
  margin: 0 10px;
}

.celebrityBar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.milesBar {
  flex-grow: 1;
  height: 20px;
  background-color: #EEE;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
}

.milesFill {
  height: 100%;
  background-color: #D43F00;
  border-radius: 10px;
}
